{% extends "../../../base.html" %}
{% block title %}
    {% if object %}
        Редактировать содержание "{{ object.title }}"
    {% else %}
        Добавить новый материал
    {% endif %}
{% endblock %}

{% block content %}
    <h1>
        {% if object %}
            <p class="head-clr-grey">Редактировать содержание "{{ object.title }}"</p>
        {% else %}
            <p class="text-center fa-1x head-clr-grey"><strong>Добавить новый материал</strong></p>
        {% endif %}
    </h1>
    <div class="container text-center m-5 p-3">
        <div class="row justify-content-center">
            <div class="col-6 bg-dark p-3 rounded">
        <h2>
            Информация
        </h2><hr>
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.as_p }}
            {% csrf_token %}
            <p class="text-center">
                <input class="btn btn-lg btn-primary" type="submit" value="Сохранить">
            </p>
        </form>
            </div>
    </div>
    </div>
{% endblock %}