{% extends "../../../base.html" %}
{% block title %}
    Удалить курс
{% endblock %}

{% block content %}
    <div class="container text-center m-5">
        <div class="row justify-content-center">
            <div class="col-6 bg-dark p-3 rounded">
                <form action="" method="post">
                    {% csrf_token %}
                    <p class="fa-2x">Ты точно хочешь удалить "{{ object }}?"<br>
                    <input type="submit" class="btn btn-lg btn-primary" value="Абсолютно точно!"></p>
                </form>
            </div>
        </div>
    </div>
{% endblock %}