{% extends "../../../base.html" %}
{% block title %}
Редактирование "{{ course.title }}"
{% endblock %}

{% block content %}
    <div class="container p-5 m-3 text-center">
        <h1 class="head-clr-grey">Редактировать "{{ course.title }}"</h1>
        <div class="row justify-content-center">
            <div class="col-7 bg-dark p-3 rounded">
            <h2>Модули курса</h2><hr>
{#            <form action="" method="post">#}
{#                            {% csrf_token %}#}
{#                    <fieldset disabled>#}
{#                        <div class="mb-3">#}
{#                          <label for="disabledTextInput" class="form-label">Название</label>#}
{#                          <input name="title" type="text" id="disabledTextInput" class="form-control" value="{{ course.title }}" placeholder="{{ course.title }}">#}
{#                        </div>#}
{#                        <div class="mb-3">#}
{#                          <label for="exampleFormControlTextarea1" class="form-label">Описание</label>#}
{#                          <textarea name="description"  class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>#}
{#                        </div>#}
{#                        <input type="submit" class="btn btn-lg btn-primary" value="Сохранить">#}
{#                    </fieldset>#}
{#                </form>#}
            <form action="" method="post">
                {{ formset }}
                {{ formset.management_form }}
                {% csrf_token %}
                <hr>
                <input type="submit" class="btn btn-lg btn-primary text-center" value="Сохранить">
            </form>
            </div>
        </div>
    </div>
{% endblock %}